# .prettierignore

# Dependências e Builds
node_modules/
dist/
build/
out/
.next/
coverage/

# Arquivos de Lock (não devem ser formatados)
package-lock.json
yarn.lock
pnpm-lock.yaml

# Arquivos de ambiente e outros
.env*
*.md
*.svg
.DS_Store